nav {
	li {
		display:inline;
		text-decoration:none;
		margin-left:5px;
	}
}

#logo {
	text-align:center;
	display:block;
	margin-top:150px;
}

img {
	height:95px;
	width:269px;
	padding:20px;
}

#voice {
	height:30px;
	width:25px;
}

.search_button {
	text-align:center;
	display:block;

	button {
		font-family:Arial, sans-serif;
		font-weight:bold;
		background-color:#f5f5f5;
		-moz-border-radius: 2px;
  		-webkit-border-radius: 2px;
  		border-radius: 2px;
  		border: 1px solid #CCCCCC;
		padding:7px 7px;
		margin:10px 6px;
	}
}

.button {
	li {
		a {
			color:black;
		}
		a:link {
			text-decoration:none;
		}
		a:hover
	}
}

/** .searchimg {
	width:25px;
	height:25px;
	position:relative;
	margin-left:600px;
}


.box {
	height:25px;
	width:600px;
	position:relative;
	left:50%;
	margin-left:-300px;
	top:50%;
	margin-bottom:10px;
}**/

#search {
		border:none;
		text-align:center;
}

  #search input {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border: 1px solid #CCCCCC;
  padding: 7px;
  width: 570px;
  margin:5px;
  }
  #search input.btn {
  
  border: 0 none;
  margin: 10px 0 -5px -35px;
  padding: 0;
  width: auto;
  }


footer{
		li{
			text-decoration:none;
			display:inline;
		}
}